@media (max-width: 500px) {
  .header {
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
  }
  .header h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: black;
  }
  .menu-button {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    cursor: pointer;
  }
  .menu {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#c5fad9, #aceacf, #f77fee, #db66e4);
    /* This give the height 100% of the screen or, '100% of View Height' */
    z-index: 2;
    /* This set the layer level of the element, it has precendence over initial level of 1*/
  }
  .menu ul li {
    list-style-type: none;
    font-size: 20px;
    padding: 35px 0;
    text-align: center;
  }
  .menu ul li a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    color: black;
    font-size: 25px;
  }
  .menu--open {
    display: block;
  }
  .menu--open {
    display: block;
  }
}
@media (min-width: 500px) {
  .menu-button {
    display: none;
  }
  .header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4a62a;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .header .menu {
    width: 30%;
  }
  .header h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #f0eec8;
  }
  .header ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .header ul li {
    /* Standard syntax */
  }
  .header ul li a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #f0eec8;
    font-size: 20px;
  }
  .header ul li a:hover {
    color: #dad578;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Manually style starts here*/
* {
  box-sizing: border-box;
}
html {
  background-image: linear-gradient();
}
@media (max-width: 500px) {
  .main-section {
    position: relative;
    top: 75px;
    width: 100%;
  }
  .main-section .card .card-back1,
  .main-section .card .card-back2,
  .main-section .card .card-back3,
  .main-section .card .card-back4 {
    display: none;
  }
  .main-section .div1,
  .main-section .div2,
  .main-section .div3,
  .main-section .div4 {
    width: 100%;
    height: 200px;
    background-color: #c5fad9;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .main-section .div1 p,
  .main-section .div2 p,
  .main-section .div3 p,
  .main-section .div4 p {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 20px;
    font-size: 25px;
  }
  .main-section .div1 img,
  .main-section .div2 img,
  .main-section .div3 img,
  .main-section .div4 img {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 0 auto;
  }
  .main-section .div2 {
    background-color: #aceacf;
  }
  .main-section .div3 {
    background-color: #f77fee;
  }
  .main-section .div4 {
    background-color: #db66e4;
  }
}
@media (min-width: 500px) {
  .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    height: 900px;
    margin: 0 auto;
    align-content: center;
  }
  .main-section .card.is-flipped {
    transform: rotateY(180deg);
  }
  .main-section .card-face1,
  .main-section .card-face2,
  .main-section .card-face3,
  .main-section .card-face4,
  .main-section .card-back1,
  .main-section .card-back2,
  .main-section .card-back3,
  .main-section .card-back4 {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .main-section .card-face1 {
    background: #505762;
  }
  .main-section .card-back1 {
    background: #414d5e;
    transform: rotateY(180deg);
  }
  .main-section .card-face2 {
    background: #d65a31;
  }
  .main-section .card-back2 {
    background: #b14623;
    transform: rotateY(180deg);
  }
  .main-section .card-face3 {
    background: #eeeeee;
  }
  .main-section .card-back3 {
    background: #d5d5d5;
    transform: rotateY(180deg);
  }
  .main-section .card-face4 {
    background: #d5d5d5;
  }
  .main-section .card-back4 {
    background: #bbbbbb;
    transform: rotateY(180deg);
  }
  .main-section .card {
    width: 45%;
    height: 300px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: 20px;
  }
  .main-section .card .div1,
  .main-section .card .div2,
  .main-section .card .div3,
  .main-section .card .div4 {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    backface-visibility: hidden;
  }
  .main-section .card .div1 img,
  .main-section .card .div2 img,
  .main-section .card .div3 img,
  .main-section .card .div4 img {
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  .main-section .card .div1 p,
  .main-section .card .div2 p,
  .main-section .card .div3 p,
  .main-section .card .div4 p {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 20px;
    font-size: 35px;
  }
}
@media (min-width: 500px) {
  .bottom-bar {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f4a62a;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .bottom-bar .usf-link {
    padding: 50px;
  }
  .bottom-bar .usf-link ul li {
    padding: 5px 0;
  }
  .bottom-bar .usf-link a {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding: 15px 0;
    text-decoration: none;
  }
  .bottom-bar .usf-link a:hover {
    color: #dad578;
  }
  .bottom-bar .usf-link h1 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding: 5px 0;
  }
  .bottom-bar .footer {
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px;
  }
  .bottom-bar .footer .details p,
  .bottom-bar .footer .details h1 {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding: 15px 0;
  }
  .bottom-bar .footer .details h1 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
  }
  .bottom-bar .footer .links {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  .bottom-bar .footer .links .link1,
  .bottom-bar .footer .links .link2,
  .bottom-bar .footer .links .link3,
  .bottom-bar .footer .links .link4 {
    background-color: white;
    border-radius: 50%;
  }
  .bottom-bar .footer .links .link1:hover,
  .bottom-bar .footer .links .link2:hover,
  .bottom-bar .footer .links .link3:hover,
  .bottom-bar .footer .links .link4:hover {
    background-color: #f4a62a;
  }
  .bottom-bar .footer .links img {
    width: 20px;
    height: 20px;
    margin: 7px;
  }
}
@media (max-width: 500px) {
  .bottom-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .bottom-bar .footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px;
  }
  .bottom-bar .footer .details p,
  .bottom-bar .footer .details h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    color: black;
    padding: 15px 0;
  }
  .bottom-bar .footer .details h1 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
  }
  .bottom-bar .footer .links {
    display: flex;
    justify-content: space-between;
  }
  .bottom-bar .footer .links .link1,
  .bottom-bar .footer .links .link2,
  .bottom-bar .footer .links .link3,
  .bottom-bar .footer .links .link4 {
    background-color: white;
    border-radius: 10px;
  }
  .bottom-bar .footer .links .link1:hover,
  .bottom-bar .footer .links .link2:hover,
  .bottom-bar .footer .links .link3:hover,
  .bottom-bar .footer .links .link4:hover {
    background-color: #db66e4;
  }
  .bottom-bar .footer .links img {
    width: 30px;
    height: 30px;
    margin: 7px;
  }
  .usf-link {
    display: none;
  }
}
